---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Header from '../sections/Header.astro';
import Countdown from '../sections/Countdown.astro';
import SelectAthlete from '../sections/SelectAthlete.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<!-- <Countdown/> -->
		<SelectAthlete />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
