---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Header from '../sections/Header.astro';
import Countdown from '../sections/Countdown.astro';
import SelectAthlete from '../sections/SelectAthlete.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<!-- <Countdown/> -->
		<SelectAthlete />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 72rem;
		min-height: 100vh;
		margin: 0 auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
	}
</style>
