---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";

 export const prerender = true
---

<Layout title="Reglamento Oficial" description="Reglamento de streetlifting y power freestyle">
  <Header />
  <main>
    <header>
      <h1>Reglamento oficial del evento deportivo </h1>
    </header>
    <nav>
      <ol>
        <li>
          <a href="#streetlifting">Streetlifting</a>
        </li>
        <li>
          <a href="#power">Power Freestyle</a>
        </li>
      </ol>
    </nav>
    <article id="streetlifting">
      <h2>Streetlifting</h2>
      <section>
        <h2>1. Objetivo</h2>
        <p>El objetivo de la competencia de streetlifting es levantar la mayor cantidad de peso con la técnica correcta en diferentes ejercicios tradicionalmente de peso corporal con peso añadido, como dominadas, dips y sentadillas, dentro de los parámetros establecidos por la organización.</p>
      </section>
      
      <section>
        <h2>2. Categorías</h2>
        <ul>
          <li><strong>Por peso corporal:</strong>
            <ul>
              <li>&lt; 70 kg</li>
              <li>70-80 kg</li>
              <li>80-90 kg</li>
            </ul>
          </li>
          <li><strong>Por edad:</strong>
            <ul>
              <li>Adulto: 21-35 años</li>
              <li>Master: &gt; 35 años</li>
            </ul>
          </li>
          <li><strong>Por género:</strong>
            <ul>
              <li>Masculino</li>
              <li>Femenino</li>
            </ul>
          </li>
        </ul>
      </section>
      
      <section>
        <h2>3. Ejercicios y Modalidades</h2>
        <p>Los ejercicios a realizar en la competencia son:</p>
        <ol>
          <li>Dominadas con peso añadido (Pull-Up o Chin Up)</li>
          <li>Fondos en paralelas con peso añadido (Dip)</li>
          <li>Sentadilla con peso añadido (Back Squat)</li>
        </ol>
      </section>
      
      <section>
        <h2>4. Equipamiento Permitido</h2>
        <ul>
          <li>Cinturón de pesas: Para añadir peso adicional.</li>
          <li>Muñequeras y rodilleras: Para soporte, no deben dar una ventaja indebida.</li>
          <li>Magnesio: Para mejorar el agarre.</li>
          <li>Ropa deportiva: Debe ser ajustada y no obstruir la visualización de los movimientos.</li>
        </ul>
        <p>Prohíbido el uso de ropa holgada. Los participantes se pueden retirar la prenda superior y las participantes pueden competir en top deportivo.</p>
      </section>
      
      <section>
        <h2>5. Pesos Adicionales</h2>
        <ul>
          <li>Los pesos adicionales serán proporcionados por la organización.</li>
          <li>El peso se establecerá según la categoría y será igual para todos los competidores en dicha categoría.</li>
          <li>Los competidores deberán verificar su peso corporal antes de la competencia para asegurar su clasificación en la categoría correspondiente.</li>
        </ul>
      </section>
      
      <section>
        <h2>6. Normas de Ejecución</h2>
        <ol>
          <li><strong>Dominadas (Pull-Ups):</strong>
                <ul>
                    <li>Inicio en suspensión completa (brazos completamente extendidos).</li>
                    <li>El mentón debe pasar por encima de la barra.</li>
                    <li>Los pies no deben tocar el suelo o la plataforma de apoyo durante el movimiento.</li>
                    <li>No se permite el uso de kipping o cualquier impulso que no provenga directamente de la fuerza de los brazos y la espalda.</li>
                </ul>
              </li>
              <li><strong>Fondos (Dips):</strong>
                <ul>
                  <li>Inicio en extensión completa de los brazos.</li>
                  <li>Descenso hasta que el deltoides posterior marque debajo de la altura del codo en flexión o más.</li>
                  <li>Extensión completa de los brazos al final de cada repetición.</li>
                  <li>Los pies no deben tocar el suelo o la plataforma de apoyo durante el movimiento.</li>
                </ul>
              </li>
              <li><strong>Sentadillas (Weighted Squats):</strong>
                <ul>
                  <li>Inicio en posición erguida con la barra cargada en los hombros (barra baja o alta).</li>
                  <li>Descenso hasta que las caderas estén por debajo de las rodillas.</li>
                  <li>Extensión completa de las piernas al final de cada repetición.</li>
                </ul>
              </li>
            </ol>
          </section>
          
          <section>
            <h2>7. Tiempo y Repeticiones</h2>
            <ul>
              <li>Cada competidor tendrá un límite de tiempo de 1 minuto por ejercicio para realizar su levantamiento.</li>
              <li>La repetición será validada por un juez designado por la organización.</li>
              <li>El competidor con el mayor número de kilogramos levantados gana en su categoría.</li>
            </ul>
          </section>
          
          <section>
        <h2>8. Descalificación</h2>
        <ul>
            <li>Realizar movimientos que no cumplan con las normas de ejecución.</li>
            <li>Uso de equipamiento no permitido.</li>
            <li>Comportamiento antideportivo, como insultos, falta de respeto al personal de la competencia o a otros competidores.</li>
            <li>Abandonar la barra o el equipo antes de la finalización del tiempo sin una razón médica justificada.</li>
          </ul>
        </section>

        <section>
          <h2>9. Jueces</h2>
        <ul>
            <li>La competencia contará con un mínimo de dos jueces, que verificarán el cumplimiento de las normas y validarán las repeticiones.</li>
            <li>Las decisiones de los jueces son inapelables y definitivas.</li>
          </ul>
        </section>
        
        <section>
          <h2>10. Responsabilidad</h2>
          <p>La organización no se hace responsable de lesiones o accidentes que puedan ocurrir durante la competencia. Se recomienda a los participantes tener un seguro médico vigente.</p>
        </section>
        
        <section>
          <h2>11. Código de Conducta</h2>
        <p>Todos los participantes deben comportarse de manera respetuosa y profesional en todo momento.</p>
        <p>Cualquier incumplimiento de las normas de conducta será sancionado con la descalificación inmediata.</p>
      </section>
    </article>
      

    <article id="power">
      <header>
        <h1>Reglamento de Competencia de Power Freestyle</h1>
      </header>

      <section>
          <h2>1. Objetivo</h2>
          <p>El objetivo de la competencia de power freestyle es realizar y mantener movimientos estáticos (isométricos) o realizar powermoves en cualquiera de los aparatos o superficies permitidos, que demuestren fuerza, control y estabilidad dentro de los parámetros establecidos por la organización.</p>
      </section>

      <section>
          <h2>2. Categorías</h2>
          <ul>
              <li><strong>Por género:</strong>
                  <ul>
                      <li>Masculino</li>
                      <li>Femenino (No disponible por el momento)</li>
                  </ul>
              </li>
          </ul>
      </section>

      <section>
          <h2>3. Formato de Competencia</h2>
          <p>La competencia se realizará en rondas, donde cada competidor será evaluado en la ejecución de sus movimientos.</p>
      </section>

      <section>
          <h2>4. Equipamiento Permitido</h2>
          <ul>
              <li>Guantes o grips: Para proteger las manos, no deben mejorar el agarre de manera desproporcionada.</li>
              <li>Muñequeras y coderas: Para soporte, siempre y cuando no afecten la ejecución natural de los movimientos.</li>
              <li>Ropa deportiva: Prenda superior ajustada o sin prenda superior. La prenda inferior debe permitir visualizar la extensión de las rodillas.</li>
              <li>Magnesio: Para mejorar el agarre.</li>
          </ul>
      </section>

      <section>
          <h2>5. Duración de la Ejecución</h2>
          <ul>
              <li>Cada competidor tendrá un máximo de 60 segundos por ronda para ejecutar su mejor combinación.</li>
              <li>El tiempo comienza en el momento en que el competidor comienza su primer movimiento de fuerza.</li>
          </ul>
      </section>

      <section>
          <h2>6. Normas de Ejecución</h2>
          <ul>
              <li><strong>Movimientos Permitidos:</strong>
                  <ul>
                      <li>Empuje: Incluye variantes como full planche, full maltese, full back lever, etc.</li>
                      <li>Jalón: Todas las variaciones, desde full front lever hasta victorian y reverse planche.</li>
                      <li>Otros Movimientos de tensión: One arm handstand, Hefesto normal, Iron Cross, entre otros.</li>
                  </ul>
              </li>
              <li><strong>Evaluación:</strong>
                  <ul>
                      <li>Dificultad: Complejidad y nivel de fuerza requerido para mantener el movimiento.</li>
                      <li>Control: Capacidad para mantener la posición sin oscilaciones o movimientos no deseados.</li>
                      <li>Técnica/Limpieza: Precisión en la alineación y forma del cuerpo durante el movimiento.</li>
                      <li>Duración y cantidad: Segundos de aguante estáticos o repeticiones de powermoves (máximo 5 consecutivos).</li>
                      <li>Creatividad: Uso de combinaciones únicas o posiciones de transición entre movimientos estáticos.</li>
                  </ul>
              </li>
          </ul>
      </section>

      <section>
          <h2>7. Puntuación</h2>
          <ul>
              <li>Los jueces otorgarán una puntuación entre 1 y 10 en cada una de las rondas de evaluación.</li>
              <li>La puntuación final será la suma de 3 puntuaciones de cada juez.</li>
          </ul>
      </section>

      <section>
          <h2>8. Descalificación</h2>
          <ul>
              <li>Realizar movimientos que no sean puramente estáticos.</li>
              <li>Uso de equipamiento no permitido.</li>
              <li>Comportamiento antideportivo, como insultos, falta de respeto al personal de la competencia o a otros competidores.</li>
              <li>No mantener la posición estática por el tiempo mínimo requerido.</li>
          </ul>
      </section>

      <section>
          <h2>9. Jueces</h2>
          <ul>
              <li>La competencia contará con un panel de tres a cinco jueces, expertos en calistenia y movimientos de tensión.</li>
              <li>Las decisiones de los jueces son inapelables y definitivas.</li>
          </ul>
      </section>

      <section>
          <h2>10. Responsabilidad</h2>
          <p>La organización no se hace responsable de lesiones o accidentes que puedan ocurrir durante la competencia. Se recomienda a los participantes tener un seguro médico vigente.</p>
      </section>

      <section>
          <h2>11. Código de Conducta</h2>
          <p>Todos los participantes deben comportarse de manera respetuosa y profesional en todo momento.</p>
          <p>Cualquier incumplimiento de las normas de conducta será sancionado con la descalificación inmediata.</p>
      </section>
    </article>
  </main>
</Layout>

<style>
	main {
		padding: 1rem;
		max-width: 43rem;
		min-height: 100vh;
		margin: 0 auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
	}
  section {
    margin-block: 2.2rem;
  }
  section > h2 {
    margin-bottom: 1.6rem;
  }
  p {
    text-align: justify;
  }
  ul, ol{
    padding-left: 2.2rem;
  }
  nav > ol > li > a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
</style>