---
import AthleteTitleName from './AthleteTitleName.astro'

interface Props {
	readonly id: string
	readonly name: string
	readonly loading?: "lazy" | "eager"
}

const { name, id, loading } = Astro.props
---

<picture
	class="athlete-picture"
	transition:name="athlete-big-image"
>
	<img
		decoding="async"
		class="athlete-image"
		alt={`Fotografía de ${name}`}
		src={`https://res.cloudinary.com/dliqpogct/image/upload/f_auto,q_auto/v1/hellbound/${id}-big.webp`}
		loading={loading}
	/>
</picture>

<div
	transition:name="athlete-name"
>
	<AthleteTitleName name={name} />
</div>

<style>
	.athlete-picture {
		z-index: 20;
		aspect-ratio: 2/3;
		height: auto;
		width: 100%;
		max-width: 460px;
	}
	.athlete-image {
		aspect-ratio: 2/3;
		height: auto;
		width: 100%;
		object-fit: contain;
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
		mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	}
	div {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		z-index: 21;
		text-align: center;
	}
</style>