---
import AthleteTitleName from './AthleteTitleName.astro'

interface Props {
	readonly id: string
	readonly name: string
	readonly loading?: "lazy" | "eager"
}

const { name, id, loading } = Astro.props
---

<picture
	class="athlete-photo"
	transition:name="athlete-big-image"
>
	<img
		decoding="async"
		class="athlete-image"
		alt={`Fotografía de ${name}`}
		src={`athletes/${id}-big.png`}
		loading={loading}
	/>
</picture>

<div
	transition:name="athlete-name"
>
	<AthleteTitleName name={name} />
</div>

<style>
	.athlete-photo {
		z-index: 20;
		aspect-ratio: 285/428;
		height: auto;
		width: 100%;
		max-width: 460px;
	}
	.athlete-image {
		aspect-ratio: 285/428;
		height: auto;
		width: 100%;
		object-fit: contain;
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
		mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	}
	div {
		position: absolute;
		bottom: 10px;
		z-index: 10;
		display: flex;
		max-width: 28rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
</style>