---
interface Props {
  dateType: string;
  attribute: Record<string, string>;
  className?: string;
}

const {  dateType, attribute,className} = Astro.props;


---

<div class={className}>
  <span {...attribute}>00</span>
  <span>{dateType}</span>
</div>
<style>
  div {
    margin: 0 auto;
    text-align: start;
  }
  span {
    font-size: 2.5rem;
  }
</style>