---
interface Props {
  wrapperClassName: string;
  dateType: string;
  attribute: Record<string, string>;
  max: number;
  position?: string;
  className?: string;
  height: string;
}

const { wrapperClassName, dateType, attribute, max, position, className, height } = Astro.props;
const maximumSplit = Astro.props.max.toString().split('');

const maxFirst = Number.parseInt(maximumSplit[0]) + 1;
const maxSecond = 9;
const maxThird = 9;

---

<div class={className}>
  <span {...attribute}>00</span>
  <span>{dateType}</span>
</div>
<style>
  div {
    margin: 0 auto;
    text-align: start;
  }
  span {
    font-size: 2.5rem;
  }
</style>