---
import Date from "../components/Date.astro";
const TIME_DATE_END = 1732212000000 as const;
---
<section>
  <p class="countdown-text"> Para el evento faltan</p>
  <div data-date={TIME_DATE_END} role="timer">
    <Date 
      dateType="Días"
      attribute={{"data-days": ""}}
      className="days"
      wrapperClassName="wrapper"
      max={129}
      height="100%"
    />
    <Date 
    dateType="Horas"
    attribute={{"data-hours": ""}}
    className="hours"
    wrapperClassName="wrapper"
    max={129}
    height="100%"
  />
  <Date 
      dateType="Minutos"
      attribute={{"data-minutes": ""}}
      className="minutes"
      wrapperClassName="wrapper"
      max={129}
      height="100%"
    />
    <Date 
      dateType="Segundos"
      attribute={{"data-seconds": ""}}
      className="seconds"
      wrapperClassName="wrapper"
      max={129}
      height="100%"
    />
  </div>
</section>
<style>
  div[data-date] {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .countdown-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    div[data-date] {
      grid-template-columns: repeat(4, 1fr);
    }
    
  }
  
</style>
<script>
  import createCountdown from "@/lib/countdown"
  import {$} from "../lib/dom-selector"

  const SECOND = 1000
	const MINUTE = SECOND * 60
	const HOUR = MINUTE * 60
	const DAY = HOUR * 24

	function init() {
		const $countdown = $("[data-date]")
		if (!$countdown) return

		let intervalId: number

		const $days = $("[data-days]")
		const $hours = $("[data-hours]")
		const $minutes = $("[data-minutes]")
		const $seconds = $("[data-seconds]")

		const timestamp = $countdown.getAttribute("data-date")
		if (!timestamp) return

		const date = new Date(+timestamp).getTime()

		const formatTime = (time: number) => {
			return Math.floor(time).toString().padStart(2, "0")
		}

		function updateCountdown() {
			const now = Date.now()
			const diff = date - now
			const $countdown = document.querySelector("[data-date]")
			if (!$countdown) return

			if ($days instanceof HTMLElement) {
				const newDays = formatTime(diff / DAY)
        if ($days.innerText !== newDays) $days.innerText = newDays
			}

			if ($hours instanceof HTMLElement) {
        const newHours = formatTime((diff % DAY) / HOUR)
        if ($hours.innerText !== newHours) $hours.innerText = newHours
      }

      if ($minutes instanceof HTMLElement) {
        const newMinutes = formatTime((diff % HOUR) / MINUTE)
        if ($minutes.innerText !== newMinutes) $minutes.innerText = newMinutes
      }

      if ($seconds instanceof HTMLElement) {
        const newSeconds = formatTime((diff % MINUTE) / SECOND)
        if ($seconds.innerText !== newSeconds) $seconds.innerText = newSeconds
      }

			if (diff < 1000) {
				clearInterval(intervalId)

				$countdown.innerHTML = "¡Ha comenzado! 🎉"
      }
		}

		intervalId = setInterval(updateCountdown, SECOND)
		updateCountdown()
	}

	init()
  </script>
