---

---

<section>
  <img src="https://res.cloudinary.com/dliqpogct/image/upload/f_auto,q_auto/v1/hellbound/logo" alt="torneo chingon">
  <time datetime="2024-11-21T12:00">Noviembre 21 y 22, 12:00 PM</time>
  <p>Ubicación: <span class="location">Leandro Valle, 97143, Mérida, Yucatán</span></p>
  <a href="https://tienda.eventbrite.com.mx/eventos/calistenia/entradas/574115333377" target="_blank" rel="noopener noreferrer">
    <button class="button">Consigue tus entradas</button>
  </a>
</section>

<style>
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 5rem;
  }
  h1, p, time {
    position: relative;
  }
  time, p, a{
    text-align: center;
    margin-top: 2rem;
  }
  .button {
    background-color: red;
    color: white;
    text-align: center;
    padding: 1em 2em;
    border-radius: 4px;
    display: block;
    margin: 1em auto;
  }
  
</style>

