---
import { ViewTransitions } from 'astro:transitions';
import type { Preload } from '@/types/Preload';
import SEO from '@/components/SEO.astro';
import Footer from '@/sections/Footer.astro';
import '@fontsource/cinzel-decorative/400.css';
import '@fontsource/cinzel-decorative/700.css';
import '@fontsource/cinzel-decorative/900.css';

interface Props {
	title: string;
	description: string;
	preload?: Array<Preload>;
	canonical?: string
}

const { title, description, preload, canonical} = Astro.props as Props;
---
<!doctype html>
<html lang="en">
	<head>
		<SEO 
			title={title}
			description={description}
			preload={preload}
			canonical={canonical}
		/>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
	<Footer/>
</html>

<style is:global>
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--bg-color: #510b1d;
		--main-color: #e30047;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-color);
	}
	main{
		position: relative;
	}
	body {
		font-family:
			'Cinzel Decorative',
			monospace;
	}
	h1,h2,h3,p{
		text-align: center;
	}
	img{
		display: block;
	}
	a{
		cursor: pointer;
		text-decoration: none;
		color: white;
	}
	
</style>
